*{
    margin: 0;
    padding: 0;
    font-family: 'Ramaraja', serif;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url(images/anmo.JPG);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
}
.nav-links{
    flex: 5;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.content{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateY(-50%);
}
h1{
    color: skyblue;
    margin: 50px;
    font-size: 100px;
}
.myself{
    position: relative;
    top: 30%;
}
h5{
    color: white;
    margin: 20px;
    font-size: xx-large;
}
.phone{
    position: relative;
    top: 60%;
    left: 40%;
}
h6{
    color: lime;
    margin: 20px 20px 20px 20px 20px;
    font-size: xx-large;

}
.be{
    height: 100vh;
    width: 100%;
    background-image: url(images/qrq.jpg);
    background-size: xx-small;
    background-position: center;
}
.se{
    height: 100vh;
    width: 100%;
    background-image: url(images/an.jpeg);
    background-size: xx-small;
    background-position: center;
}
.linka{
    flex: 3;
    text-align: right;
}
.linka ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.linka ul li a{
    color: red;
    text-decoration: none;
    font-size: 40px;
}
.linka ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: purple;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.linka ul li:hover::after{
    width: 100%;
}
.linkc{
    flex: 3;
    text-align: right;
}
.linkc ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.linkc ul li a{
    color: red;
    text-decoration: none;
    font-size: 40px;
}
.linkc ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: purple;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.linkc ul li:hover::after{
    width: 100%;
}
.linkf{
    flex: 3;
    text-align: left;
}
.linkf ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.linkf ul li a{
    color: skyblue;
    text-decoration: none;
    font-size: 40px;
}
.linkf ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.linkf ul li:hover::after{
    width: 100%;
}