*{
    margin: 0;
    padding: 0;
    font-family: 'Ramaraja', serif;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url(images/anmo.JPG);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
}
.nav-links{
    flex: 3;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateY(-50%);
}
h1{
    color: red;
    margin: 20px 20px 20px 50px 50px;
    font-size: xx-large;
}